@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --container-10xl: 120rem;
  --color-header-border: #f5f6f7;
}

body {
  color: #5F6368;
}

