@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --container-10xl: 120rem;
  --color-header-border: #f5f6f7;
  --font-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  html,
  body {
    color: #5F6368;
    font-family: var(--font-serif);
  }
}

@layer components {
  .item {
    @apply inline-flex items-center h-[62px]  relative after:w-full after:h-0.5 after:absolute after:-bottom-0.5 after:left-0;
  }

  .item-selected {
    @apply after:bg-indigo-500 text-indigo-500;
  }

  .item-hover {
    @apply hover:after:bg-indigo-500;
  }

}