<!doctype html>
<html>

<head>
    <title>Light Frame</title>
    <!-- In HTML5 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin" />
    <!-- Defining the charset in HTML4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="keywords" content="light-frame" />
    <meta name="description" content="light-frame" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" crossorigin href="{{css}}">
</head>

<body>
    <div id="root">
       
    </div>
    <input id="categories" type="hidden" value="{{category}}" />
    <script type="module" crossorigin src="{{js}}"></script>
</body>

</html>