<!doctype html>
<html>
<head>
    <title>技术博客</title>
    <!-- In HTML5 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin" />
    <!-- Defining the charset in HTML4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="keywords" content="light-frame" />
    <meta name="description" content="light-frame" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
   {{styleTags | safe}}
</head>
<body>
    <div id="root"></div>
   {{scriptTags | safe}}
</body>
</html>