@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
    --animate-toast: slideUp 500ms ease forwards 1;

    @keyframes slideUp {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
    }
}